<iframe
  width="295px"
  height="400px"
  src="//www.openstreetmap.org/export/embed.html?bbox=46.04830652475358%2C51.529431568221554%2C46.05192750692368%2C51.53067802216021&amp;layer=mapnik&amp;marker=51.53005313084365%2C46.050115674734116">
</iframe>
<p>Вы также можете скачать точку расположения в виде
<a href="/boringplace.gpx">GPX отметки</a>.</p>

<p>Наш адрес: {{ site.bplace-address }}. Также
приводим кликабельную фотографию входа в "Скучное Место":<br>
<a href="{{ site.url }}/assets/images/entrance.png">
  <img src="{{ site.url }}/assets/images/entrance-mini.png">
</a></p>
