<script type='text/javascript'>
(function () {
    window['yandexChatWidgetCallback'] = function() {
        try {
            window.yandexChatWidget = new Ya.ChatWidget({
                guid: '920bd59a-e86d-4b1d-93ea-76a233428a3c',
                buttonText: 'Давайте скучать вместе!',
                title: 'Скучный Чат',
                theme: 'dark',
                collapsedDesktop: 'hover',
                collapsedTouch: 'always'
            });
        } catch(e) { }
    };
    var n = document.getElementsByTagName('script')[0],
        s = document.createElement('script');
    s.async = true;
    s.charset = 'UTF-8';
    s.src = 'https://yastatic.net/s3/chat/widget.js';
    n.parentNode.insertBefore(s, n);
})();
</script>
