<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
{% seo %}
  </head>

  <body>
    {%- include metrics.html -%}
    <header>
      <div class="header-wrapper">
        <div class="header-logo">
          <a href="{{ site.url }}"><img src="/assets/images/BoringLogo_b.png" alt="" /></a>
        </div>
        <div class="header-container">
          <a href="{{ site.url }}" class="header-link">{{ site.title | default: site.github.repository_name }}</a>
          <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        </div>
      </div>
    </header>
    {{ content }}
  </body>
</html>

