<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    {%- include header.html -%}

    <div class="container">
      <section id="projects">
        <h1 id="h-projects">Наши технологические кружки</h1>
        <ul>
          {%- for circle in site.circles -%}
          <li><a href="{{ circle.url }}">{{ circle.title }}</a></li>
          {%- endfor -%}
        </ul>
      </section>
      <section id="contents">
        {{ content }}
      </section>
      <section id="back">
        <p><a href="{{ site.url }}">на главную</a></p>
      <section>
    </div>
  </body>
</html>
