<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div align="center" class="header_wraper">
        <div class="header_logo">
          <a href="{{ site.url }}"><img src="{{ site.url }}/assets/images/BoringLogo_b.png" alt="" /></a></p>
        </div>
        <div class="header_container">
          <a href="{{ site.url }}" class="header-link">{{ site.title | default: site.github.repository_name }}</a>
          <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        </div>
      </div>
    </header>

    <div class="container">
      <section id="projects">
        <h1 id="h-projects">Наши технологические кружки</h1>
        <ul>
          {%- for circle in site.circles -%}
          <li><a href="{{ circle.url }}">{{ circle.title }}</a></li>
          {%- endfor -%}
        </ul>
      </section>
      <section id="contents">
        {{ content }}
      </section>
      <section id="back">
        <p><a href="{{ site.url }}">на главную</a></p>
      <section>
    </div>
  </body>
</html>
