---
layout: page
---
<section id="main_content">
  {{ content }}
</section>
<section id="experts">
  <hr/>
  <ul>
<li><a href="../circles">Записаться</a> у экспертов:
 <ul>
 {%- for person in site.persons -%}
   {%- assign match = 0 -%}
   {%- for page_skill in page.skills -%}
     {% if person.skills contains page_skill %}
       {%- assign match = match | plus: 1 -%}
     {%- endif -%}
   {% endfor %}
   {% if match == page.skills.size %}
    <li><a href="{{ person.url }}">{{ person.surname }} {{ person.name }}</a></li>
   {%- endif -%}
 {%- endfor -%}
      </ul>
    </li>
  </ul>
</section>
