---
layout: page
---
<section id="departments">
  <h1 id="h-departments">Наши площадки</h1>
  <section id="contents">
    {{ content }}
  </section>
  У нас есть площадки:
  <ul>
    {%- for department in site.departments -%}
      <li>
	 <b>{{ "" | append: department.title }}</b> <a href="{{ department.url }}">{{ department.title }}</a>  
      </li>
    {%- endfor -%}
  </ul>
	
	<ul>
      {%- for person in site.persons -%}
         {% if person.type contains "student" -%}
          {%- assign present = false -%}
          {%- for md5mac in person.md5macs -%}
             {%- for kvs in site.data.onlinemd5sums -%}
	       {% capture onlinemd5sums %}{{ kvs[1]|map: "onlinemd5sums"|compact|join: "," }}{% endcapture %}
	       {% if onlinemd5sums contains md5mac -%}
                 {% capture present %}{{ kvs[0] }}{% endcapture %}
               {%- endif -%}
             {%- endfor -%}
          {%- endfor -%}
          <li>
      	      <b>{{ "" | append: person.title }}</b>@ <a href="{{ person.url }}">{{ person.surname }} {{ person.name }}</a>
	      {% if present -%}<span class="online" title="Прямо сейчас находится на площадке '{{ present }}'">&#8226;</span>{%- endif -%}
          </li>
         {%- endif -%}
      {%- endfor -%} 
	</ul>
</section>
