---
layout: page
---
<section id="experts">
  <h1 id="h-experts">Наши эксперты</h1>
  <section id="contents">
    {{ content }}
  </section>
  Список наших экспертов:
  <ul>
    {%- for person in site.persons -%}
      {%- assign present = false -%}
      {%- for md5mac in expert.md5macs -%}
        {%- for kvs in site.data.onlinemd5sums -%}
	  {% capture onlinemd5sums %}{{ kvs[1]|map: "onlinemd5sums"|compact|join: "," }}{% endcapture %}
	  {% if onlinemd5sums contains md5mac -%}
            {% capture present %}{{ kvs[0] }}{% endcapture %}
	  {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
      <li>
	 <b>{{ "" | append: person.title }}</b>@ <a href="{{ person.url }}">{{ person.surname }} {{ person.name }}</a>
	 {% if present -%}<span class="online" title="Прямо сейчас находится на площадке '{{ present }}'">&#8226;</span>{%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</section>
