<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div align="center" class="header_wraper">
        <div class="header_logo">
          <a href="{{ site.url }}"><img src="{{ site.url }}/assets/images/BoringLogo_b.png" alt="" /></a></p>
        </div>
        <div class="header_container">
          <a href="{{ site.url }}" class="header-link">{{ site.title | default: site.github.repository_name }}</a>
          <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        </div>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>

      <section id="cicles">
        <h1 id="h-circles">Технологические кружки</h1>
        <ul>
          {%- for circle in site.circles -%}
          <li><a href="{{ circle.url }}">{{ circle.title }}</a></li>
          {%- endfor -%}
        </ul>
      </section>

      <section id="events">
        <h1 id="h-future-events">Предстоящие мероприятия</h1>
        <ul>
          {%- for evt in site.events -%}
            {% assign cdate = site.time | date: '%s' | plus: 0 %}
            {% assign pdate = evt.date | date: '%s' | plus: 0 %}
            {% if pdate > cdate %}
            <li>{{ evt.date | date: '%Y.%m.%d %H:%M' }} <a href="{{ evt.url }}">{{ evt.title }}</a></li>
            {% endif %}
          {%- endfor -%}
          <li>Линуксовка, по традиции, объявляется в <a href="{{ site.bplace-sarlugmail }}">рассылке</a>,
          проводится каждые 2-ве недели в воскресенье, 12:00.<br>Подробности представлены на
          <a href="sarlug">cтранице проекта “SarLUG”</a>, календарь - на <a href="sarlug/meetup">странице встреч</a>.</li>
        </ul>
      </section>
    </div>
  </body>
</html>

