<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a href="{{ site.url }}" class="header-link">{{ site.title | default: site.github.repository_name }}</a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div class="container">
      <section id="projects">
        <h1 id="h-projects">Наши проекты</h1>
        <ul>
          {%- for proj in site.projects -%}
          <li><a href="{{ proj.url }}">{{ proj.title }}</a></li>
          {%- endfor -%}
        </ul>
      </section>

      <section id="events">
        <h1 id="h-future-events">Предстоящие мероприятия</h1>
        <ul>
          {%- for evt in site.events -%}
            {% assign cdate = site.time | date: '%s' | plus: 0 %}
            {% assign pdate = evt.date | date: '%s' | plus: 0 %}
            {% if pdate > cdate %}
            <li><a href="{{ evt.url }}">{{ evt.date | date: '%Y.%m.%d %H:%M' }} {{ evt.title }}</a></li>
            {% endif %}
          {%- endfor -%}
          <li>Линуксовка, по традиции, каждые 2-ве недели в воскресенье,
          12:00. Календарь линуксовок представлен на
          <a href="sarlug">Странице проекта “SarLUG”</a></li>
        </ul>
      </section>
      <section id="main_content">
        <h1 id="position">Расположение</h1>
        {%- include address.html -%}
        {{ content }}
      </section>
    </div>
  </body>
</html>

